{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>ArticleList</title>
	  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="/static/images/logo.png" class="brand-logo"></a>-->
          <img src="/static/images/logo.png" alt="Avatar" style="width:150px;height:50px;">
          <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Login</a></li>
          <li><a href="badges.html">Signup</a></li>
        </ul>
      </div>
    </nav>
 	</div>
  <div class="row">
    <div class="col-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/images/1.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/images/11.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/images/6.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-8">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/images/2.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/images/26.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="/static/images/1.jpg" style="width:100%">
    <img src="/static/images/2.jpg" style="width:100%">
    <img src="/static/images/3.jpg" style="width:100%">
    <img src="/static/images/4.jpg" style="width:100%">
    <img src="/static/images/5.jpg" style="width:100%">
    <img src="/static/images/6.jpg" style="width:100%">
    <img src="/static/images/7.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/static/images/8.jpg" style="width:100%">
    <img src="/static/images/9.jpg" style="width:100%">
    <img src="/static/images/10.jpg" style="width:100%">
    <img src="/static/images/11.jpg" style="width:100%">
    <img src="/static/images/12.jpg" style="width:100%">
    <img src="/static/images/13.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="/static/images/14.jpg" style="width:100%">
    <img src="/static/images/15.jpg" style="width:100%">
    <img src="/static/images/16.jpg" style="width:100%">
    <img src="/static/images/17.jpg" style="width:100%">
    <img src="/static/images/18.jpg" style="width:100%">
    <img src="/static/images/19.jpg" style="width:100%">
    <img src="/static/images/20.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/static/images/21.jpg" style="width:100%">
    <img src="/static/images/22.jpg" style="width:100%">
    <img src="/static/images/23.jpg" style="width:100%">
    <img src="/static/images/24.jpg" style="width:100%">
    <img src="/static/images/25.jpg" style="width:100%">
    <img src="/static/images/26.jpg" style="width:100%">
  </div>
</div>

</body>
</html>