{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/static/css/style1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row"> 
    <div class="column">
      <img src="/static/images/1.jpg" style="width:100%">
      <img src="/static/images/2.jpg" style="width:100%">
      <img src="/static/images/3.jpg" style="width:100%">
      <img src="/static/images/4.jpg" style="width:100%">
      <img src="/static/images/5.jpg" style="width:100%">
      <img src="/static/images/6.jpg" style="width:100%">
      <img src="/static/images/7.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/static/images/8.jpg" style="width:100%">
      <img src="/static/images/9.jpg" style="width:100%">
      <img src="/static/images/10.jpg" style="width:100%">
      <img src="/static/images/11.jpg" style="width:100%">
      <img src="/static/images/12.jpg" style="width:100%">
      <img src="/static/images/13.jpg" style="width:100%">
    </div>  
    <div class="column">
      <img src="/static/images/14.jpg" style="width:100%">
      <img src="/static/images/15.jpg" style="width:100%">
      <img src="/static/images/16.jpg" style="width:100%">
      <img src="/static/images/17.jpg" style="width:100%">
      <img src="/static/images/18.jpg" style="width:100%">
      <img src="/static/images/19.jpg" style="width:100%">
      <img src="/static/images/20.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/static/images/21.jpg" style="width:100%">
      <img src="/static/images/22.jpg" style="width:100%">
      <img src="/static/images/23.jpg" style="width:100%">
      <img src="/static/images/24.jpg" style="width:100%">
      <img src="/static/images/25.jpg" style="width:100%">
      <img src="/static/images/26.jpg" style="width:100%">
    </div>
  </div>
</body>
</html>
