<html>
<body>
    {% extends 'header.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    	<section class="about_us section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img">
                        <img src="/static/img/about_img.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <h2>Jaipur-Pink City</h2>
                        <p>Jaipur was founded in 1727 by the Rajput ruler Jai Singh II,[10] the ruler of Amer, after whom the city is named. It was one of the earliest planned cities of modern India, designed by Vidyadhar Bhattacharya.[11] During the British Colonial period, the city served as the capital of Jaipur State. After independence in 1947, Jaipur was made capital of the newly-formed state of Rajasthan.Jaipur is a popular tourist destination in India and forms a part of the west Golden Triangle tourist circuit along with Delhi and Agra (240 km, 149 mi).[12] It is home to two UNESCO World Heritage Sites - the Jantar Mantar and the Amer Fort.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="event_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="event_slider owl-carousel" >
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="col-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Amer Fort</h2>
                                        <p>This fort is easily the most impressive of all architectural structures we visited while in Jaipur. A huge lake is located at the foot of the fort before a winding path leads visitors up towards the main courtyard. Goats and dogs run wild throughout the fort while thousands of pigeons flock to the perimeters where they are fed daily by locals. Amber Fort or Amer Fort as it was referred to by our tuk-tuk drivers have some impressive rooms and details. Arches and fine hand-made drawings and designs are spread throughout the fort. <p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Sunset at Nahargarh Fort</h2>
                                        <p>Nahar means tiger. Garh means fort. In English, this spectacular fortress translates to the Tiger Fort. Up in the hills of Jaipur, the Nahargarh Fort walls wind along the ridges of the mountains. Standing on the fort walls you will overlook neighborhoods brimming with intense action. If you arrive before sunset you can wander through the gallery or the wax museum</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Go on a Safari</h2>
                                        <p>This isn’t your average safari and I’m sorry if you are about to be disappointed. I am talking about an urban safari. Take a tuk-tuk anywhere in the city to your destination and the safari begins. On the streets of Jaipur, you can expect to spot camels in the traffic, pigs eating the scraps, monkeys running riot, enormous cows causing traffic jams, well-fed dogs, masses of pigeons, mongoose, squirrels and an abundance of peacocks. I’ve heard the term urban jungle thrown around before but Jaipur is for real, an urban jungle.</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>