<html>
<body>
    {% extends 'header.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    	<section class="about_us section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img">
                        <img src="/static/img/about_img1.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <h2>Jaisalmer-Golden City</h2>
                        <p>Jaisalmer, nicknamed "The Golden city", is a city in the Indian state of Rajasthan, located 575 kilometres (357 mi) west of the state capital Jaipur. The town stands on a ridge of yellowish sandstone, and is crowned by the ancient Jaisalmer Fort. This fort contains a royal palace and several ornate Jain temples. Many of the houses and temples of both the fort, and of the town below, are built of finely sculptured sandstone. The town lies in the heart of the Thar Desert (the Great Indian Desert) and has a population, including the residents of the fort, of about 78,000. It is the administrative headquarters of Jaisalmer District. Jaisalmer was once the capital of Jaisalmer State.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="event_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="event_slider owl-carousel" >
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="col-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Jaisalmer Fort</h2>
                                        <p>Built in 1156 by the Bhati Rajput ruler Jaisal, Jaisalmer Fort, situated on Meru Hill and named as Trikoot Garh has been the scene of many battles. Its massive sandstone walls are a tawny lion colour during the day, turning to a magical honey-gold as the sun sets. The famous Indian film director Satyajit Ray wrote a detective novel and later turned it into a film − Sonar Kella (The Golden Fortress) which was based on this fort. About a quarter of city's population still live inside the fort. The main attractions inside the fort are: Raj Mahal (Royal palace), Jain temples and the Laxminath temple. <p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Jaisalmer War Museum</h2>
                                        <p>It was dedicated to the Nation by Lieutenant General Ashok Singh, PVSM, AVSM, SM, VSM, ADC, General Officer Commanding-in-Chief, Southern Command, Indian Army, on 24 August 2015. The Museum displays war exhibits which include vehicles and equipment captured during the course of operations in 1965 and 1971. The Jaisalmer War Museum, popularly known as JWM, has an Honour Wall engraved with the names of the Param Vir Chakra and Maha Vir Chakra gallantry award winners, two large Information Display Halls - Indian Army Hall and Laungewala Hall, an Audio Visual Room, a souvenir shop and a cafeteria. A Hunter Aircraft of the Indian Air Force, which destroyed enemy tank columns during the Battle of Laungewala is also displayed.</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Sam Sand Dunes</h2>
                                        <p>Hordes of people head to the famous and picturesque Sam Sand Dunes, around 50 minutes west of Jaisalmer, at sunset. Cultural performances and camel rides create a carnival atmosphere.It's also possible to stay overnight close to the Sam Dunes in a unique, non-touristy experience by bunking at a desert camp for glamping. On the way to the Dunes, Kuldhara Abandoned Village is a spooky but interesting place to visit.If you'd prefer a more peaceful desert sojourn, the dunes around Khuri village in Desert National Park an hour southwest of Jaisalmer are more suitable. .</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>