<html>
<body>
    {% extends 'header.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    	<section class="about_us section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img">
                        <img src="/static/img/about_img2.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <h2>Jodhpur-Blue City</h2>
                        <p>Jodhpur is the second-largest city in the Indian state of Rajasthan and officially the second metropolitan city of the state. It was formerly the seat of a princely state of the same name. Jodhpur was historically the capital of the Kingdom of Marwar, which is now part of Rajasthan. Jodhpur is a popular tourist destination, featuring many palaces, forts and temples, set in the stark landscape of the Thar Desert. It is popularly known as Blue city and Sun city among people of Rajasthan and all over India.The old city circles the fort and is bounded by a wall with several gates.However, the city has expanded greatly outside the wall over the past several decades. Jodhpur lies near the geographic centre of the Rajasthan state, which makes it a convenient base for travel in a region much frequented by tourists./p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="event_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="event_slider owl-carousel" >
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="col-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Mehrangarh Fort</h2>
                                        <p>Imposing Mehrangarh Fort, which rises above the "Blue City", is one of the largest and most famous forts in India. As impressive as it is, as a well-preserved heritage structure, there's so much more to discover inside. The fort has been privately restored and its museum has an outstanding display of royal memorabilia, including about 15,000 items from Maharaja Gaj Singh II's personal collection. It also has the only professional museum shop in India. The cultural performances that happen daily at various places inside the fort, as part of the special focus on folk art and music, are another highlight.  <p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Clock Tower And Old City Markets</h2>
                                        <p>A trip to Jodhpur wouldn't be complete without visiting the bustling Old City. Many people choose to stay in this area too, as some of the best budget hotels in Jodhpur are located there and have fabulous Fort views. The Old City's famous landmark, the clock tower, stands at the heart of it—and it's still working! Next to it, Sadar Market retains a traditional village bazaar feel. It's chaotic and colorful and sells almost everything, including handicrafts, spices, saris and fabric. If you feel uncomfortable in crowds, you might prefer to take a walking tour rather than explore the market area yourself, as the congestion can be overwhelming.</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="ol-lg-6 col-md-6">
                                    <div class="event_slider_content">
                                        <h2>Umaid Bhavan</h2>
                                        <p>Magnificent Umaid Bhawan Palace, completed in 1944, was one of the last grand palaces to be built in India. The royal family of Jodhpur still occupies a section of it. Most of the remainder has been converted into a luxurious palace hotel and unfortunately, it's off-limits to anyone who's not staying there. If you can't afford $600 or more per night for a room, you can still get a glimpse inside the palace by having a pricey dinner at one of its restaurants or visiting the museum. The museum mostly displays old photos of the Maharaja and his family. There's a vintage watch and car collection as well. If you're into that kind of thing, it's worthwhile going there. Otherwise, you may be disappointed as you'll get to see very little of the palace.</p>
                                        <a href="#" class="btn_1">Plan Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>