<html>
<head>
    <title>Home</title>
    <style>
        .banner_part{
            background-image: url("/static/img/home-banner.jpg")!important;
        }
    </style>
</head>
<body>
    {% extends 'header.html' %}
    {% block content %}
        {% for place in places %}
            <section class="event_part section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="event_slider owl-carousel" >
                            <div class="single_event_slider">
                                <div class="row justify-content-end">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="event_slider_content">
                                            <h2>{{ place.main_place }}</h2>
                                            <p>{{ place.description }}<p>
                                            <a href="#" class="btn_1">Plan Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        {% endfor %}
    {% endblock %}
</body>
</html>